<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <style>
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl" align="center">
      <h1><u>REGISTRATION PAGE</u></h1>
      <table align="center">
        <tr>
          <td><label for="name">Name:</label></td>
          <td><input type="text" id="name" ng-model="user.name" /></td>
        </tr>
        <tr>
          <td><label for="email">Email:</label></td>
          <td><input type="email" id="email" ng-model="user.email" /></td>
        </tr>
        <tr>
          <td><label for="mobile">Mobile:</label></td>
          <td><input type="text" id="mobile" ng-model="user.mobile" /></td>
        </tr>
        <tr>
          <td><label for="password">Password:</label></td>
          <td>
            <input type="password" id="password" ng-model="user.password" />
          </td>
        </tr>
      </table>
      <button ng-click="submit()">Submit</button>
    </div>
    <script>
      var app = angular.module("myApp", []);
      app.controller("myCtrl", function ($scope) {
        $scope.user = {
          name: "",
          email: "",
          mobile: "",
          password: "",
        };
        $scope.submit = function () {
          alert("Registration Success.");
        };
      });
    </script>
  </body>
</html>
